/* Fonts */
@font-face {
    font-family: "main_gauche";
    src: url("../fonts/main-gauche.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "regular_bau";
    src: url("../fonts/Bau/Bau-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Général */
body{
    margin: 0;
    overflow-x: hidden;
}
:root{
    --couleur_ferme: #28e43f;
    --rouge_ferme: #E10F21;
    --rouge_clair: #ed4c60;
}

/* Header */
header{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--couleur_ferme);
    flex-wrap: wrap;
}
#logo_gauche{
    background-color: var(--couleur_ferme);    
}
#logo_gauche img{
    width: 600px;
    height: auto;
}
h1{
    width: 100vw;
    text-align: center;
    font-family: "main_gauche";
    color: white;
    font-size: 65px;
    margin-top: -30px;
}
#bouton_deco{
    margin: 50px;
}
#bouton_deco img{
    width: 50px;
}

/* Body */
main{
    position: relative;
}
#help_btn{
    width: 50px;
    position: fixed;
    right: 10px;
    left: auto;
    top: 330px;
    transition: 0.2s linear;
}
#help_btn:hover{
    cursor: pointer;
    width: 55px;
    right: 8px;
}
#close_help_btn{
    width: 15px;
    float: right; 
    margin-top: 5px;
    margin-right: 5px;
}
#close_help_btn:hover{
    cursor: pointer;
}
.hide{
    display: none!important;
}
#aide{
    display: flex;
    flex-direction: column;
    margin: 0 150px 30px 150px;
    position: absolute;
    z-index: 2;
    background-color: white;
    left: 10px;
    right: 10px;
    top: 10px;
    background-color: lightgray;
}
#aide ul{
    /*margin-left: auto;
    margin-right: auto;*/
    font-family: "regular_bau";
    margin: 0 10px;
    padding-left: 25px;
}
#aide h2{
    margin-top: 0;
    margin-bottom: 0;
}
#couleur{
    display: flex;
    flex-direction: column;
    margin: 30px 150px;
}
#couleur h4{
    font-family: "main_gauche";
    font-size: 24px;
}
#couleur div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#couleur p, #couleur input, #couleur button{
    margin-left: 30px;
}
#couleur input{
    width: 300px;
    font-family: "regular_bau";
}
#after{
    position: relative;
}
#after::after{
    content: "";
    height: 40px;
    width: 100px;
    background-color: var(--couleur_ferme);
    position: absolute;
    top: -15px;
    left: 90px;
}
#accordeon{
    margin: 30px 150px;
    background-color: lightgray;
}
#couleur #color_error{
    font-family: "regular_bau";
    text-align: justify;
    font-size: 14px;
    margin-left: 0;
}
h2{
    background-color: var(--rouge_ferme);
    font-family: "main_gauche";
    color: white;
    padding: 10px;
    font-size: 28px;
    border-radius: 3px;
    position: relative;
}
#accordeon h2:hover{
    cursor: pointer;
}
.fleche{
    width: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
h3{
    margin: 0;
    background-color: var(--rouge_clair);
    color: white;
    padding: 10px;
    border-radius: 3px;
}
.onglet{
    margin: 20px;
    padding: 10px;
    font-family: "regular_bau";
    border-radius: 3px;
}
#accordeon .replier{
    display: none;
}
.modif{
    background-color: #B6B6B6;
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.modif p {
    background-color: white;
    width: 70%; 
    padding: 5px;
    font-size: 14px;
}
#photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
    width: 90%;
    padding: 10px;
    background-color: white;
    justify-content:flex-start; 
}
#photos img{
    width: 200px;
    margin: 10px;
    border: 5px solid rgba(0, 0, 0, 0);
}
#photos input{
    margin-top: auto;
    margin-left: -15px;
}
#photos input:hover{
    cursor: pointer;
}
#div_boutons{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#div_boutons button{
    margin: 5px;
    border-radius: 5px;
}
#photos .photoSelec{
    border: 5px solid var(--couleur_ferme);
}

button{
    font-family: "main_gauche";
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    padding-top: 7px;
    color: black;
    background-color: var(--couleur_ferme);
}
button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}


/* Less than 1000px width */
@media (max-width: 1000px){
    #accordeon .modif{
        flex-wrap: wrap;
    } 
    #accordeon .modif p{
        width: 100%;
    }
    #logo_gauche img{
        width: 300px;
    }
    h1{
        font-size: 45px;
    }
    #bouton_deco{
        margin: 30px;
    }
    #bouton_deco img{
        width: 30px;
    }
    #accordeon, #aide{
        margin: 30px 100px;
    }
    #help_btn{
        top: 170px;
    }
}

@media (max-width: 800px) and (min-width: 600px){
    #accordeon, #couleur, #aide{
        margin: 30px 50px;
    }
    #help_btn{
        top: 170px;
    }
}

@media (max-width: 599px){
    #accordeon, #couleur, #aide{
        margin: 30px 20px;
    }
    #aide ul{
        padding-left: 15px;
        word-wrap: break-word;
    }
    #logo_gauche img{
        width: 200px;
    }
    #bouton_deco{
        margin: 25px;
    }
    #bouton_deco img{
        width: 25px;
    }
    #div_boutons button{
        margin: 3px;
        border-radius: 5px;
        background-color: white;
    }
    #couleur h4{
        width: 100%;
        font-family: "main_gauche";
        font-size: 24px;
        text-align: center;
        margin: 20px 0 10px 0;
    }
    #couleur div{
        flex-wrap: wrap;
        justify-content: center;
    }
    #after::after{
        display: none;
    }
    #couleur p, #couleur input, #couleur button{
        margin-left: 0;
    }
    #couleur button{
        margin-top: 15px;
    }
    #couleur p{
        margin-top: 5px;
    }
    #couleur input{
        text-align: center;
    }
    #couleur #color_error{
        margin-top: 15px;
    }
    #help_btn{
        top: 170px;
        right: 5px;
    }
    #help_btn:hover{
        right: 3px;
    }
}