@font-face {
	font-family: "main-gauche";
	src: url("../fonts/main-gauche.otf");
}

.invisible{
	display: none;
}
.visible{
	display: block;
}
.next,.prev,.fermer{
	font: 45px main-gauche;
	position: absolute;
    z-index: 200;
    background-color: #E10F21;
    color: white;
    padding: 2px;
}
.next:hover,.prev:hover,.fermer:hover{
    background-color: white;
    color: #E10F21;
}
.image{
	width : 100%;
	text-align: center;
	position: relative;
}
.next{
    right: 5px;
    top: 40vh;
    padding-bottom: 10px;
}
.prev{
    left: 5px;
    top: 40vh;
    padding-bottom: 10px;
}
.fermer{
    top: 0;
    right: 0;
}
#carrousel{
    position : fixed;
    width: 100%;
    top: 80px;
    left: 0;
}
#carrousel ul{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#carrousel ul, #carrousel li, #carrousel img{
    margin: auto;
    padding: 0;
}