@media all and (max-width : 800px) {
    .container{
        width : 95%;
    }
    .interface {
        width: 100%;
    }
    
    .interface #carte{
        display: none !important;
    }
    
    
    h1{
        font-size : 60px;
    }
    
    .section-text{
        font-size : 16px;
    }
    
    /*Liste des lieux*/
    #lieux_responsive{
       display : block;
    }
    
    #visite{
        width : 100%;
    }
    
    #slide div img{
        width : 100%;
        height : auto;
    }
    
    #p360{
        background-image : none;
        background-color : black;
    }
    
    #p360 h2{
        font-size : 30px;
    }
    
    .points{
        font-size: 30px;
    }
    
    #logo_gauche img{
        width: 300px;
    }
    
    .container{
        margin-top: -70px;
    }
    
    #popupInit{
        font-size : 25px;
        width : auto;
        height : auto;
    }
    
    .info, .archive, .cible{
        display: none;
    }
    #info_theatre{
        display: block;
        top : 80px;
        right : 0px;
        left: auto;
    }
    #archive_theatre{
        display: block;
        top : 80px;
        right: 30px;
        left: auto;
    }
    #info_auvent{
        display: block;
        top: 410px;
        right : 0px;
        left: auto;
    }
    #info_cinema{
        display: block;
        top: 520px;
        right : 0px;
        left: auto;
    }
    #archive_cinema{
        display: block;
        top: 520px;
        right : 30px;
        left: auto;
    }
    #info_centre_art{
        display: block;
        top: 740px;
        right : 0px;
        left: auto;
    }
    #info_caravanserail{
        display: block;
        top: 850px;
        right : 0px;
        left: auto;
    }
    #archive_caravanserail{
        display: block;
        top: 850px;
        right : 30px;
        left: auto;
    }
    #info_ruche{
        display: block;
        top: 960px;
        right : 0px;
        left: auto;
    }
    #archive_ruche{
        display: block;
        top: 960px;
        right : 30px;
        left: auto;
    }
    #nom_info, #nom_archive{
        display: none !important;
    }
    
    #pTexte{
        width: 90%;
        right: 5%;
    }
    
    #carrousel{
        top : 300px !important;
    }
    #carrousel ul{
        width: 500px !important;
    }
    
    .next{
        right: 0px !important;
        top: 20vh !important;
    }
    .prev{
        left: 0px !important;
        top: 20vh !important;
    }
}

@media all and (min-width : 800px) and (max-width: 1200px) {
    
    .container{
        width : 780px;
    }
    
    h1{
        font-size : 80px;
    }
    
    .interface{ 
        width : 780px;
    }
    
    #carte{
        width : 780px;
    }
    
    #visite{
        width : 90%;
        height : 90%;
    }
   
    #slide div img{
        height : 463px;
    }
    
    .points{
        font-size: 40px;
    }
    
    #logo_gauche img{
        width: 400px;
    }
    
    .container{
        margin-top: -100px;
    }

    #textContainer{
        overflow-y: auto;
        height: 70vh;
    }  
    
    #carrousel{
        top : 150px !important;
    }
    #carrousel ul{
        width: 800px !important;
    }
    
    .next{
        right: 0px !important;
        top: 30vh !important;
    }
    .prev{
        left: 0px !important;
        top: 30vh !important;
    }

}

@media all and (max-width: 499px) {
    .container .points{
        display: none;
    }
    
    #logo_gauche img{
        width: 200px;
    }
    
    .container{
        margin-top: -30px;
    }
    
    h1{
        font-size: 40px;
    }
    
    #popupInit{
        width: 250px;
    }
    
    #carrousel{
        top : 250px !important;
    }
    #carrousel ul{
        width: 400px !important;
    }
    
    .next{
        right: 0px !important;
        top: 15vh !important;
    }
    .prev{
        left: 0px !important;
        top: 15vh !important;
    }
}