@media all and (max-width : 800px) {
    .container{
        width : 95%;
    }
    .interface {
        display : none !important;
    }   
    
    h1{
        font-size : 60px;
    }
    
    .section-text{
        font-size : 16px;
    }
    
    /*Liste des lieux*/
    #lieux_responsive{
       display : block;
    }
    
    #visite{
        width : 100%;
    }
    
    #slide div img{
        width : 100%;
        height : auto;
    }
    
    #p360{
        background-image : none;
        background-color : black;
    }
    
    #p360 h2{
        font-size : 30px;
    }
    
    .points{
        font-size: 30px;
    }
    
    #logo_gauche img{
        width: 300px;
    }
    
    .container{
        margin-top: -70px;
    }
    
    #popupInit{
        font-size : 25px;
        width : 300px;
        height : 180px;
    }
}

@media all and (min-width : 800px) and (max-width: 1200px) {
    
    .container{
        width : 780px;
    }
    
    h1{
        font-size : 80px;
    }
    
    .interface{ 
        width : 780px;
    }
    
    #carte{
        width : 780px;
    }
    
    #visite{
        width : 90%;
        height : 90%;
    }
   
    #slide div img{
        height : 463px;
    }
    
    .points{
        font-size: 40px;
    }
    
    #logo_gauche img{
        width: 400px;
    }
    
    .container{
        margin-top: -100px;
    }

}

@media all and (max-width: 499px) {
    .container .points{
        display: none;
    }
    
    #logo_gauche img{
        width: 200px;
    }
    
    .container{
        margin-top: -30px;
    }
    
    h1{
        font-size: 40px;
    }
    
    #popupInit{
        width: 250px;
    }
}
